@import "tailwindcss";

@layer base {
  *, *::before, *::after {
    box-sizing: border-box;
  }

  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  html {
    font-family: sans-serif;
    /* color: #333; */
  }
}

@layer utilities {
  .font-medium-550 {
    font-weight: 550;
  }
  
  .logo-with-bg {
    background-color: #f9fafb; /* bg-gray-50 color */
    border-radius: 8px;
    padding: 8px;
  }
}